.container-btnStudy {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--global-gap);
}

.btn-study {
  background-color: transparent;
  color: var(--terciary-color-text);
  border: none;
  padding: 10px 20px;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn-study:hover {
  transform: scale(1.05);
  color: var(--primary-color-text);
}

.light .btn-study:hover {
  transform: scale(1.05);
  color: var(--secundary-color-text);
}
.container-tarjetas {
  display: flex;
  flex-wrap: wrap;
  gap: var(--global-gap);
  padding: var(--global-padding);
  justify-content: center;
}

.container-tarjetas li {
  text-decoration: none;
  list-style-type: none;
}
.tarjeta {
  background-color: var(--terciary-background-color);
  color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
  width: 80%;
  transition: 0.5s ease;
  animation: barrido-vertical 1s ease-out forwards;
  border: 2px red solid;
}

@keyframes barrido-vertical {
  0% {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
    opacity: 1;
  }
}

.container-divtitle {
  background-color: var(--terciary-background-color);
  color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 80%;
  transition: 0.5s ease;
}

.title-card {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 700;
}
#show-tarjetas span {
  color: var(--terciary-color-text);
  font-weight: 700;
}

.tarjeta:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.light .tarjeta,
.light .container-divtitle,
.light .tarjeta-cursos,
.light .tarjeta-Estudios {
  background-color: var(--secundary-background-color);
  color: var(--secundary-color-text);
  border: 1px solid #ddd;
}

.container-tarjetas h2 {
  margin-top: 0;
  font-size: 1em;
  color: var(--terciary-color-text);
}

.container-tarjetas p {
  margin: 10px 0;
  font-size: 1em;
}

.title-Study {
  color: var(--terciary-color-text);
  font-weight: 300;
}

.light .title-Study {
  font-weight: 600;
}

.img-cursos {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 12px;
  object-fit: cover;
}

.tarjeta-cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--global-padding);
}

.container-img-cursos {
  width: 40%;
  height: auto;
  text-align: center;
  align-self: center;
}

.tarjeta-hidden {
  display: none;
}

.hidden-span {
  display: none;
}

.container-descripcion-cursos {
  margin: auto 0;
  width: 50%;
  height: auto;
  text-align: justify;
}

.Contacto-Redes img {
  width: 40px;
  height: auto;
  object-fit: cover;
}
@media (max-width: 768px) {
  .container-img-cursos,
  .container-descripcion-cursos {
    width: 100%;
    height: auto;
  }
  .img-cursos {
    width: 100%;
    height: auto;
  }
  .tarjeta-cursos {
    flex-direction: column;
  }
  .Contacto-Redes {
    display: inline-block;
    justify-content: center;
    margin: 5px auto;
  }

  .Contacto-Redes img {
    width: 25px;
  }
}
