nav ul li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: var(--terciary-color-text);
  font-family: var(--global-font-family);
}
nav ul {
  display: flex;
  gap: var(--global-gap);
}

.light a {
  color: var(--terciary-color-text);
}

#themeBtn {
  background-color: transparent;
  border: none;
  font-size: 18px;
}

#menu-kebab {
  width: 100%;
  height: 60px;
  filter: invert(8%);
}

.light #menu-kebab {
  filter: invert(100%);
}

.hidden-kebab {
  display: none;
}

@media (max-width: 768px) {
  .hidden-kebab {
    display: inline-block;
  }
  #site-navigation {
    display: none;
  }
}
