.container-SobreMi {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--global-padding);
  gap: var(--global-gap);
  height: 75vh;
}

.container-img {
  width: 40%;
  height: 100%;
  text-align: center;
}

.container-img img {
  width: auto;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.mi-descripcion {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
  max-width: 55%;
  height: 100%;
  padding: var(--global-padding);
}

.mi-descripcion h2 {
  font-size: 1rem;
}
.mi-descripcion h1 {
  color: var(--terciary-color-text);
}
.mi-descripcion p {
  font-size: 0.9rem;
}
