.container-SobreMi {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--global-padding);
  gap: var(--global-gap);
}

.container-img {
  flex: 0 0 40%;
  text-align: center;
  margin: 0 auto;
}

.container-img img {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.mi-descripcion {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
  flex: 0 0 50%;
  padding: var(--global-padding);
}

.mi-descripcion h2 {
  font-size: 1rem;
}
.mi-descripcion h1 {
  color: var(--terciary-color-text);
}
.mi-descripcion p {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .mi-descripcion {
    min-width: 100%;
  }
  .container-img {
    min-width: 100%;
  }
}
