header {
  width: 100%;
  height: 70px;
  display: flex;
  padding: var(--global-padding);
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
}

header p {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600;
}

header a {
  text-decoration: none;
  color: var(--terciary-color-text);
  font-weight: 600;
}
